@tailwind base;

@layer base {
    @import url("https://fonts.googleapis.com/css2?family=Pirata+One&display=swap");

    @font-face {
        font-family: Clash Display;
        font-weight: 200;
        src:
            url("../fonts/ClashDisplay/ClashDisplay-Extralight.woff") format("woff"),
            url("../fonts/ClashDisplay/ClashDisplay-Extralight.woff2") format("woff2"),
            url("../fonts/ClashDisplay/ClashDisplay-Extralight.ttf") format("ttf"),
            url("../fonts/ClashDisplay/ClashDisplay-Extralight.eot") format("eot");
    }

    @font-face {
        font-family: Clash Display;
        font-weight: 300;
        src:
            url("../fonts/ClashDisplay/ClashDisplay-Light.woff") format("woff"),
            url("../fonts/ClashDisplay/ClashDisplay-Light.woff2") format("woff2"),
            url("../fonts/ClashDisplay/ClashDisplay-Light.ttf") format("ttf"),
            url("../fonts/ClashDisplay/ClashDisplay-Light.eot") format("eot");
    }

    @font-face {
        font-family: Clash Display;
        font-weight: 400;
        src:
            url("../fonts/ClashDisplay/ClashDisplay-Regular.woff") format("woff"),
            url("../fonts/ClashDisplay/ClashDisplay-Regular.woff2") format("woff2"),
            url("../fonts/ClashDisplay/ClashDisplay-Regular.ttf") format("ttf"),
            url("../fonts/ClashDisplay/ClashDisplay-Regular.eot") format("eot");
    }

    @font-face {
        font-family: Clash Display;
        font-weight: 500;
        src:
            url("../fonts/ClashDisplay/ClashDisplay-Semibold.woff") format("woff"),
            url("../fonts/ClashDisplay/ClashDisplay-Semibold.woff2") format("woff2"),
            url("../fonts/ClashDisplay/ClashDisplay-Semibold.ttf") format("ttf"),
            url("../fonts/ClashDisplay/ClashDisplay-Semibold.eot") format("eot");
    }

    @font-face {
        font-family: Clash Display;
        font-weight: 600;
        src:
            url("../fonts/ClashDisplay/ClashDisplay-Bold.woff") format("woff"),
            url("../fonts/ClashDisplay/ClashDisplay-Bold.woff2") format("woff2"),
            url("../fonts/ClashDisplay/ClashDisplay-Bold.ttf") format("ttf"),
            url("../fonts/ClashDisplay/ClashDisplay-Bold.eot") format("eot");
    }
}
