.marquee-horizontal {
    &-inner {
        left: 0.5rem;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        animation: marquee-horizontal 5s linear infinite;
        will-change: transform;
    }

    &:hover {
        .marquee-horizontal-inner {
            animation-play-state: paused;
        }
    }
}

@keyframes marquee-horizontal {
    0% {
        transform: translate(0%, -50%);
    }

    100% {
        transform: translate(calc(-100%), -50%);
    }
}

.marquee-vertical {
    $selector: &;

    &-inner {
        top: 21%;
        transform: translateY(-50%);
        animation: marquee-vertical 0.8s linear infinite;
        will-change: transform;
        animation-play-state: paused;
    }

    &:hover {
        @apply border-primary;

        .marquee-vertical-inner {
            animation-play-state: running;
        }
    }
}

@keyframes marquee-vertical {
    0% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(-25%);
    }
}
