@screen lg {
    .cursor {
        top: 0;
        left: 0;
        z-index: 10;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.24s ease-out;

        &--visible {
            opacity: 1;
        }
    }
}

