.featured-project {
    &-title {
        text-shadow: 2px 2px 0 #000;
    }
}


@screen lg {
    .featured-project {
        &:hover {
            .featured-project {
                &-image {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
    }
}
