
.marquee {
    z-index: 10;

    &-banner {
        position: relative;
        left: var(--marquee-width);
        height: var(--marquee-height);
    }

    &-text {
        position: absolute;
        z-index: 10;
    }

    &--inline {
        .marquee {
            &-banner {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}
