.table-hover {
    @apply relative;

    &-highlight {
        @apply bg-primary absolute;

        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
        transform: scaleY(0);

        &--disabled {
            @apply bg-white opacity-50;
        }
    }
}
