
.nav-primary {
    @apply fixed bottom-0 right-0 left-0 bg-black bg-noise text-right  pt-20 z-10;

    top: var(--header-h, 92px);
    transform: translateX(100%);
    transition: transform 0.48s ease-out;

    .nav {
        @apply font-bold pr-6;

        a {
            @apply block text-white uppercase text-5xl font-normal;

            &::after {
                content: ".";
            }

            &:hover {
                @apply text-primary;
            }
        }

        li {
            @apply list-none;
        }
    }

    &-show {
        transform: translateX(0);
    }

    @screen xs {
        .nav {
            a {
                @apply text-6xl;
            }
        }
    }

    // bigger than 768
    // @screen md {
    //     .nav {
    //         a {
    //             @apply text-lg;
    //         }
    //     }
    // }

    // bigger than 1024
    @screen lg {
        @apply static pl-0 -mr-4  pt-0;

        transform: translateX(0);

        .nav {
            @apply flex pr-0;

            a {
                @apply text-xs  py-8 px-4 font-semibold;
            }
        }
    }
}

.burger-button {
    .close {
        @apply hidden;
    }

    &.show-close {
        .close {
            @apply block;
        }

        .burger {
            @apply hidden;
        }
    }
}
