.offset-title {
    @screen md {
        h2 {
            @apply text-right leading-none;

            .outline {
                @apply block;

                transform: translateX(25%);
            }
        }
    }
}
